body {
  background-color: hsl(257, 40%, 49%);
  background-image: url("bg-desktop.svg");
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

p {
  color: lightgray;
}

button {
  border: none;
  border-radius: 30px;
  padding: 15px 55px;
  color:  hsl(257, 40%, 49%);
  box-shadow: 0.1px 0.1px 7px #3f3f44;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

button:hover {
  background-color: #fff3cd;
  transition: background-color 0.5s;
}

.container-fluid {
  padding: 3% 8% 3% 4%;
}

.logo {
  padding-bottom: 7%;
}

.brand-name {
  margin-bottom: 10%;
}

.illustration-img {
  width: 90%;
}

.description {
  margin: auto 0;
}

.social-logo {
  text-align: center;
}

.social-icon{
  padding: 2% 1%;
  color: #fff;
}

.attribution a:visited {
  color: #fff;
}
@media (max-width: 880px) {
  .container-fluid {
    padding: 5% 5%;
  }

  .description {
    text-align: center;
    padding-top: 10%;
  }

  button {
    margin: 20px auto;
  }

  .social-icon {
    padding: 3% 2%;
  }
}
